a img {
    width: 20px;
}

header {
    width: 100%;
    display: flex;
    font-family: 'Bitter', serif;
    position: fixed;
    top: 0;
    height: 20%;
    background: url("fon1.png") no-repeat;
}

.table-nav {
    margin: auto;

}

.headerInfo {
    float: right;
    font-family: 'Bitter', serif;
}

.naming {
    position: absolute;
    left: 46%;
    top: 0px;
    font-size: 50px;
    font-family: 'Bitter', serif;
}

.contactsHeader {
    position: absolute;
    top: 0px;
    right: 10px;
    font-family: 'Bitter', serif;
}

.menuHeader {
    text-align: right;
    font-size: 20px;
    list-style: none;
    position: absolute;
    top: 0px;
    right: 10px;
    font-family: 'Bitter', serif;
}

.companyDescription {
    text-align: center;
    font-family: 'Bitter', serif;
}

.feedBack {
    text-align: center;
    font-family: 'Bitter', serif;
    bottom: 0px;
    left: -10px;
    width: 15%;
}

.carsCategories {
    text-align: center;
    font-family: 'Bitter', serif;
}

td img {
    width: 100px;
}

th, td {
    text-align: center;
    font-family: 'Bitter', serif;
}

td {
    font-size: 20px;
    font-family: 'Bitter', serif;
}

.tabs {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
}

.tabs > input {
    display: none;
}

.tabs > div {
    display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    font-family: 'Bitter', serif;
}

.tabs > label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
    font-family: 'Bitter', serif;
}

.tabs > input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'Bitter', serif;
    background: #FFFFFF;
}

.log, .name, input[type=password], input[type=email], input[type=file], textarea, select {
    margin-left: 25%;
    margin: 10px 0;
    padding: 14px 20px;
    display: inline-block;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    width: 40%;
}

.select {
    margin: 10px 0;
    padding: 14px 20px;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    width: 100%;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}

button:hover {
    opacity: 0.8;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    padding-top: 190px;
}

footer {
    background: #ffffff;
    font-family: 'Bitter', serif;
    size: 24px;
}

.calc-container{
    margin: auto;
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    font-family: Arial;
    /*padding: 18px;*/
}

.buttons {
    display: grid;
    grid-template-areas:
            "digit_7  digit_8 digit_8 operation_plus operation_minus";
" digit_4 digit_5 digit_6 operation_multiplication  operation_division";
"digit_1 digit_2 digit_3 bracket_closing bracket_open";
"digit_0 digit_point result clear";

    grid-column-gap: 7px;
    grid-row-gap: 7px;
    justify-items: center;
    position: relative;
}

.buttons::after {
    content: "";
    height: 100%;
    width: 1px;
    background: black;
    position: absolute;
    right: 155px;
}

.key {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    background: #d3d3d3;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 10px;
}

.key:hover {
    filter: brightness(110%);
}



.inp{
    height: 125px;
    width: 398.5px;
    padding: 10px;
    display: grid;
    margin-bottom: 20px;
    background: red;
    border-top: 1px solid red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 4rem;
    text-align: right;
    color: white;
}


#tab_1:checked ~ #tb_1,
#tab_2:checked ~ #tb_2,
#tab_3:checked ~ #tb_3,
#tab_4:checked ~ #tb_4 {
    display: block;
}

#tab_5:checked ~ #tb_1,
#tab_6:checked ~ #tb_2,
#tab_7:checked ~ #tb_3,
#tab_8:checked ~ #tb_4 {
    display: block;
}